.feature{
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
   color: white;
    
}
.iconLocation{
    margin-top: -25px;
}
.lightred{
    background-color: #FF7452 !important;
}
.green{
    background-color: #57D9A3 !important;
}
.purple{
    background-color: rgb(119, 7, 119) !important;
}
.orange{
    background-color: #FFC400 !important;
}
.turquoise{
    background-color: #6bebeb !important;
}
.pink{
    background-color: #F99CDB !important;
}